
*:not(.g2) h1 {
color:#FF9F00;
  font-size:28pt;
  font-family:arial, "lucida console", sans-serif;
  }

body.g2{
  background-color: #011936;
  color: #ffeedb;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body.g2 main{
  width: 80vw;
  height: auto;
}
